/* src/styles/index.css */
@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-100: #f4f4f5;
  --color-shadow: #a855f7;
}

:root {
  background-color: var(--color-zinc-950);
  color: var(--color-zinc-100);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overflow: hidden;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* Custom Scrollbar for inner lists */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-zinc-900);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-shadow);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px) rotate(-1deg); }
  75% { transform: translateX(5px) rotate(1deg); }
}

.animate-shake {
  animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
}
